<head>
  <title>Welcome to Our Winery</title>
</head>
<body>
  <h1>Welcome to Our Winery</h1>
  <p>Discover the world of exquisite wines.</p>
  <div class="button-container">
    <button><a href="/login" target="_self">Login</a></button>
    <button><a href="/register" target="_self">Register</a></button>
    <button id="browse-products">Browse Products</button>
  </div>
</body>