<div class="box">
  <h1>Change Password</h1>+

  <hr />

  <form class="box" method="put" action="/api/sessions/restore">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <br />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <br />
    <button type="submit">Change</button>
  </form>
  <br />
  <span><a href="/login" target="_self">Login</a></span>
</div>

{{#if failRegister}}
  <script type="text/javascript">
    alert('Register Failed!');
  </script>
{{/if}}