<div class="container">
    <div class="box">
      <h1>Welcome to Our Winery</h1>
      <h3>Discover the world of exquisite wines</h3>
      <div class="button-container">
        <button type="button"><a 
        href="/login" 
        target="_self"
        >Login</a></button>
        <button type="button"><a
            href="/register"
            target="_self"
          >Register</a></button>
      </div>
    </div>
</div>