<head>
  <title>Welcome to Our Winery</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to Our Winery</h1>
    <p>Discover the world of exquisite wines.</p>
    <div class="button-container">
      <button type="button"><a href="/login" target="_self">Login</a></button>
      <button type="button"><a
          href="/register"
          target="_self"
        >Register</a></button>
      <button type="button"><a
          href="/index"
          target="_self"
        >Products</a></button>
    </div>
  </div>
</body>